body{
    margin: 0;
    padding: 0;
    color:  #003135;
    background-color: #AFDDE5;
        font-family: "Roboto", sans-serif;
        font-style: normal;
}


x{
    color: #003135;
    color: #024950;
    color: #964734;
    color: #0FA4AF;
    color: #AFDDE5;
    color: #0FA4AF;
}